body {
    display: flex;
    justify-content: center;
    background-color: var(--primaryColor);
    scroll-behavior: smooth;
}

.App { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    max-width: 1080px;
}